@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Oswald:wght@200&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

//자주쓰는 컬러를 변수로 설정
$color1 : #00ccff;
$color2 : #7ab1ea;

section {
	width: 100%;
	height: 100vh;
	padding: 5vh 5vw;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	background-color: #eee;

	//common box style
	article {
		width: 20%;
		height: 25%;
		// border: 1px solid green;
		// overflow: hidden;

		&.wid3 {
			width: 60%;

			h1,
			h2 {
				font-weight: bold;
				font-family: "Oswald";
				line-height: 1;
				letter-spacing: 2px;

			}

			h1 {
				font-size: 26px;
				color: $color1;
				margin-bottom: 10px;
			}

			h2 {
				font-size: 20px;
				color: $color2;
				margin-bottom: 20px;
			}

			p {
				width: 70%;
				font: 14px/1.3 "arial";
				color: #999;
			}
		}

		&.box1 {
			padding: 30px;
			background-color: #fff;

			.inner {
				width: 100%;
				height: 100%;
				border: 1px solid $color1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				h2 {
					font: normal 50px/1 "monoton";
					color: $color1;
					margin-bottom: 10px;
				}

				p {
					font: 14px/1 "arial";
					color: $color2;
					letter-spacing: 2px;
				}
			}
		}

		&.box2 {
			background: linear-gradient(150deg, $color1, $color2);
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-content: center;
			position: relative;

			&:hover {
				h2 {
					transform: translateY(-100px);
					opacity: 0;
				}

				p {
					transform: translateY(100px);
					opacity: 0;
				}

				a {
					transform: translate(-50%, -50%);
					opacity: 1;
				}
			}

			h2 {
				font: 80px/1 "monoton";
				color: #fff;
				transition: 0.5s;

				span {
					font-size: 30px;
					margin-left: 10px;
				}
			}

			p {
				width: 100%;
				text-align: center;
				font: 16px/1 "oswald";
				color: #fff;
				letter-spacing: 2px;
				transition: 0.5s;
			}

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 180px;
				height: 30px;
				border: 1px solid #fff;
				font: 14px/1 "arial";
				color: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(0%, -50%);
				opacity: 0;
				transition: 0.5s;

				&:hover {
					background-color: #fff;
					color: $color1;
				}
			}
		}

		&.wid2 {
			width: 40%;
			background-color: $color1;
			padding: 20px 70px;
			display: flex;
			align-items: center;

			h2,
			h3 {
				font-weight: bold;
				font-family: "oswald";
				line-height: 1;
				letter-spacing: 2px;
			}

			h2 {
				font-size: 28px;
				letter-spacing: 4px;
				margin-bottom: 10px;
				color: #fff;

				&::before {
					content: '';
					display: block;
					width: 50px;
					height: 2px;
					background-color: #fff;
					margin-bottom: 10px;
				}
			}

			h3 {
				font-size: 20px;
				margin-bottom: 30px;
				color: #eee;
			}

			p {
				font: 15px/1 "arial";
				color: #fff;
			}
		}

		&.txt {
			padding: 30px;
			background-color: #fff;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: flex-end;
			align-content: flex-start;

			//첫번째 txt의 배경은 인라인으로 변경하였습니다.

			h2 {
				font: bold 18px/1 "oswald";
				color: #777;
				margin-bottom: 5px;

				&::before {
					content: '';
					display: block;
					width: 30px;
					height: 3px;
					background-color: orangered;
					margin-bottom: 15px;
				}
			}

			p {
				font: 12px/1.3 "arial";
				color: #bbb;
			}
		}

		&.pic {

			img,
			video {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

/*
반응형 페이지에서는 많은 컨텐츠를 가지고 가실필요가 없습니다.
*/

@media screen and (max-width:1399px) {
	section {
		height: auto;

		article {
			width: calc(100% / 3);
			height: 220px;

			&:empty {
				display: none;
			}

			&.wid3,
			&.wid2 {
				width: 66.6666%;
			}
		}
	}
}

@media screen and (max-width:899px) {
	section {
		article {
			width: 50%;

			&.wid3,
			&.wid2 {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width:619px) {
	section {
		article {
			width: 100%;

		}
	}
}